body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
  
.cell {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 2px solid #000;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}
  
.sudoku {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
}

.app {
  display: flex;
  justify-content: center;
}